[submodule "themes/strata"]
	path = themes/strata
	url = https://github.com/digitalcraftsman/hugo-strata-theme.git
[submodule "themes/universal"]
	path = themes/universal
	url = https://github.com/devcows/hugo-universal-theme
