{
    "**/*.{tsx,js}": [
        "prettier --write --ignore-unknown",
        "eslint --fix --ext .tsx,.js"
    ],
    "**/*.{html,md,less,css,json}": ["prettier --write --ignore-unknown"],
    "team_generation.js": ["node team_generation.js"]
}