---
layout: article
title: Betaflight 4.2 Timeline Announced
image: /content/images/workbench.jpg
date: 2020-03-01T00:00:00+0000
author: mikeller
category:
  - Drone
  - drone
  - multirotor
description: "The timeline for the release of Betaflight 4.2 has been announced. The release is planned for 1 May 2020. If you are planning to contribute code to Betaflight 4.2, or would like to participate in pre-release testing, please read the article for the details."

---

<p>The timeline for the release of Betaflight 4.2 has been announced:</p>
<table>
<thead>
<tr>
<th>Date</th>
<th>Event</th>
</tr>
</thead>
<tbody>
<tr>
<td>25 March 2020</td>
<td>Deadline for pull request submission into 4.2</td>
</tr>
<tr>
<td>1 April 2020</td>
<td>Start of feature freeze / Release Candidate window for Betaflight 4.2</td>
</tr>
<tr>
<td>1 May 2020</td>
<td>Planned <a href="https://github.com/betaflight/betaflight/milestone/38">release</a> date for Betaflight 4.2</td>
</tr>
</tbody>
</table>
