---
layout: article
title: Betaflight 4.1 release delayed
image: /content/images/drone_stock.png
date: 2019-08-03T00:00:00+0000
author: mikeller
category:
  - Drone
  - drone
  - multirotor
description: For Betaflight 4.0 we announced the advent of Unified Targets, and with them the capability to change all of the hardware resources on all (F4 and F7) targets. Unified Targets have been used successfully by testers since Betaflight 4.0 has been released, and users using the new bidirectional Dshot protocol have been using configurable resources to make this protocol work on their targets since then.  But we were still not happy...

---

<p>For Betaflight 4.0 we announced the advent of Unified Targets, and with them the capability to change all of the hardware resources on all (F4 and F7) targets. Unified Targets have been used successfully by testers since Betaflight 4.0 has been released, and users using the new bidirectional Dshot protocol have been using configurable resources to make this protocol work on their targets since then.</p>
<p>But we were still not happy with the way that users had to use Unified Targets: The target specific hardware configuration had to be applied after the firmware was flashed, and re-applied every time the configuration was reset to defaults - we wanted to make the Unified Targets as easy to use as the existing 'legacy' targets are.</p>
<p>We have figured out a way to make this work, and are currently working on implementing the required changes in the firmware and in Betaflight configurator, but it's taking longer than we'd anticipated to complete. To allow us to get the integration of Unified Targets completed, <strong>we have shifted the release date for Betaflight 4.1 to 01 October 2019</strong>. Until then we will keep doing monthly releases of Betaflight 4.0 with bugfixes and new / updated targets.</p>
