---
layout: article
title: "Betaflight Configurator 10.9 RC1 - RELEASED"
image: /img/logo.svg
date: 2022-12-10T00:00:00+0000
author: blckmn
category:
  - Drone
  - drone
  - multirotor
description: "We are proud to announce the release of Betaflight Configurator 10.9-RC1!"

---

<p>So for this release we are doing something a little different. The configurator is being released first as release candidates, before the firmware.</p>

<p>Introducing configurator <a href="https://github.com/betaflight/betaflight-configurator/releases/tag/10.9.0-RC1">10.9 RC1</a></p>

<p>As flash firmware space was fast running out for the 512kb MCU based targets (e.g. F411, and F722), we have introduced a cloud building option. This system saves around 25% of flash space at the moment with more to come as more features are made optional at build time. This will extending the life of 512K boards considerably. Look out for videos explaining how to use it shortly.</p>

<p>In essence the cloud build option, simply allows you to select the features you want, and our servers will prepare a custom hex for you, usually within a minute. The system will then also cache your request, and others will be able to take advantage of the cached hex file (assuming their options are identical to yours).</p>

<p>So now you know why we are releasing configurator as an RC1 well before the firmware RC1 so we have more data on remaining issues as not all target configurations have been updated yet. All we need is a build log and a status report and a link to board specification for updates.</p>

<p>Thanks to everyone contributing on making this next release possible.</p>

<p>For an extended list of new features see the <a href="https://github.com/betaflight/betaflight-configurator/releases/tag/10.9.0-RC1">release notes</a>.</p>

<p><i>Happy flying, enjoy the holidays</i></p>
