---
layout: article
title: Betaflight 4.0 release delayed
image: /content/images/FastestMCU.jpg
date: 2018-12-31T00:00:00+0000
author: mikeller
category:
- Drone
- drone
- dshot
- multirotor
- protocol
description: As you might have learned from the Betaflight GitHub page, our next release will be 4.0. Betaflight 4.0 will bring unified targets, which is the the culmination of years of work that started in 2016 with the introduction of remappable resources, and it will drastically change the way how Betaflight is built and distributed.

---
<img class="img-fluid" src="/content/images/FastestMCU.jpg" alt="">
<a href="#">
    <h4>Release 4.0 delayed!</h4>
</a>
<p class="post-date">30th December, 2018</p>
<p>
    As you might have learned from the Betaflight GitHub page, our next release will be 4.0. Betaflight 4.0 will bring
    unified targets, which is the the culmination of years of work that started in 2016 with the introduction of
    remappable resources, and it will drastically change the way how Betaflight is built and distributed. To you as the
    user, not much in how you download and install the Betaflight firmware will change, but you will get some noticeable
    improvements:
</p>
<ul class="unordered-list">
    <li><span>We'll have to spend less time on maintaining and releasing the firmware, meaning that we'll have more time
            to work on new and exciting features;</span></li>
    <li><span>manufacturers will have an easy way to release custom configurations for all of their boards and
            ready-to-fly (including RX setup and tuning) craft based on original Betaflight firmware - you will no
            longer be stuck on using old firmware, or recreating your configuration from scratch;</span></li>
    <li><span>the tinkerers amongst you will be able to share Betaflight firmware with your home built improvements
            amongst your friends without having to build and distribute separate targets for everybody's board.</span>
    </li>
</ul>
<p>
    (These changes are planned for F4 and F7, F3's flash space limitations mean we won't be able to fit all of this in.)
</p>
<p>
    We are almost there with the implementation of these changes, but since they are quite complex, and getting 'almost
    there' doesn't buy us much, we have decided that we need to take more time to complete them, make sure the way users
    can use the firmware still works as expected, and properly test the new firmware. For this reason we have decided to
    postpone the planned release date for Betaflight to 01 April 2019. We will keep doing monthly releases of Betaflight
    3.5 with bugfixes and new / updated targets in the meantime.
    In addition to the drastic changes mentioned above, Betaflight 4.0 will have a number of other exciting new features
    and improvements:</p>
<ul class="unordered-list">
    <li><span>yet again improved flight performance;</span></li>
    <li><span>'Launch control' mode; and</span></li>
    <li><span>switchable profiles for the OSD layout.</span></li>
</ul>