---
layout: article
title: Betaflight 4.0 released 
link: /news/betaflight-4.0-released/
image: 
date: 2019-04-11T00:00:00+0000
author: mikeller
category:
  - Drone
  - drone
  - dshot
  - multirotor
  - protocol
description: It took us a long time, but now it’s here, and it’s got so many new things! When we released 3.5 in August last year, the number of different targets supported by Betaflight had reached 150, and maintaining them was becoming a major effort and taking up a lot of our time. It became clear that we had to do something. We had been working on changing the architecture of Betaflight to make it possible to use the same firmware for different flight controllers for some time, and so we decided to complete this change before releasing the next version, and that because of this fundamental change the next version would be 4.0. As we approached the originally set release date for Betaflight 4.0, we realised that we were not quite ready, and we ...

---

<p>It took us a long time, but now it’s here, and it’s got so many new things!</p>
<p>When we released 3.5 in August last year, the number of different targets supported by Betaflight had reached 150, and maintaining them was becoming a major effort and taking up a lot of our time. It became clear that we had to do something. We had been working on changing the architecture of Betaflight to make it possible to use the same firmware for different flight controllers for some time, and so we decided to complete this change before releasing the next version, and that because of this fundamental change the next version would be 4.0.
As we approached the originally set release date for Betaflight 4.0, we realised that we were not quite ready, and we decided to take another three months, in order to be able to complete the work we had started.
So now, here we are, ‘Unified Targets’, as we called the new ‘one firmware for many flight controllers’ technology, is now a reality in Betaflight 4.0. There is still some work left to be done to add support for flashing Unified Targets with their configurations to Betaflight configurator, but once this is done, we will be able to allow manufacturers to make firmware for any number of boards, or RTF products, available directly in configurator.</p>
<p>As you have come to expect from Betaflight, we have picked up a number of new and exciting improvements to the flight performance, like ESC RPM based filtering, D term management with D_min, and throttle based dynamic gyro and D term filtering.
And, again as expected we have added some more, non flight related new features like launch control, OSD profiles, and support for on-board SPI attached RX.
For an extended list of new features see the release notes.</p>
<p>To get the best out of the flight performance improvements, please read these tuning tips.</p>
<p>If you are upgrading from an earlier version of Betaflight, please see the release notes for a list of things that you might have to change in your configuration.
We have tried to make this release as bug free as possible. If you still find a bug, please report it back to us by opening an issue here.
Betaflight also has a presence in the Slack messaging platform. Register here, and then come join us in Slack. Most developers hang out there, so this is a great place to talk about the things you are tinkering with in Betaflight, or get help with really complicated configuration problems.</p>
<p><em>Kia kaha</em> (stay strong)</p>