---
layout: article
title: "Just in time for the holidays: Betaflight 4.3-RC1"
image: /content/images/betaflight-xmas-edition.png
date: 2021-12-24T00:00:00+0000
author: blckmn
category:
  - Drone
  - drone
  - multirotor
description: "Just in time for the holidays, we are proud to announce the release of Betaflight 4.3.0-RC1!"

---

<p>Just in time for our Xmas holiday season, we are proud to announce the release of Betaflight 4.3.0-RC1!</p>

<p>This is our first release candidate (RC1) for Betaflight 4.3. Some things may need fixing and fine tuning, and there may be bugs. Please use it with caution and report back any <a href="https://github.com/betaflight/betaflight/issues">issues</a>. Thank you!</p>

<p>IMPORTANT: Make sure you install and use the latest 10.8-RC1 version of the <a href="https://github.com/betaflight/betaflight-configurator/releases/tag/10.8.0-RC1">Betaflight Configurator</a> before updating your firmware.</p>

<p>To get the best out of the flight performance improvements, please read the <a href="https://github.com/betaflight/betaflight/wiki/4.3-Tuning-Notes">Tuning Notes</a>.</p>
<p>
  Overall a smoother, more precise flight experience with better propwash perfomance 'and' also an easier setup and tuning experience - to release the full potential of Betaflight 4.</p>
<p>
4.3 is a significant evolutionary step thanks to a slew of diligently coded and carefully tested updates representing thousands of hours of work from the voluntary development and test team.</p>

<p>
  <ul>
    <li>New PID based tuning sliders</li> 
    <li>Presets</li> 
    <li>The default PID and filter values have less gyro filtering and higher P and D, providing better 'out of the box' performance</li> 
    <li>We've changed how D is configured</li> 
    <li>More accurate loop times</li> 
    <li>Multi dynamic notch</li> 
    <li>The above two changes have significantly improved incoming 'gyro noise'</li> 
    <li>PT3 based RC smoothing</li> 
    <li>RPM crossfading</li> 
    <li>PT2 and PT3 lowpass filtering options</li> 
    <li>Feedforward jitter reduction</li> 
    <li>Other feedforward improvements</li> 
    <li>AntiGravity improvements</li> 
    <li>Dynamic gyro filter expo curve</li> 
    <li>Improved dynamic idle</li> 
    <li>Linear and Dynamic mixer options</li> 
    <li>Feedforward in Level and Horizon Modes</li> 
    <li>Actual Rates is the new Betaflight default</li> 
    <li>CrossfireV3 and Ghost RC link improvements</li> 
    <li>FrSky OSD fix</li> 
    <li>Lua script updates</li> 
    <li>Changed CLI command names - many CLI parameters are re-named.</li> 
    <li>ExpressLRS over SPI Support</li> 
  </ul>

</p>

<p>For an extended list of new features see the <a href="https://github.com/betaflight/betaflight/releases/tag/4.3.0-RC1">release notes</a>.</p>
<p><i>Happy flying, enjoy the holidays</i></p>
