---
layout: article
title: "Just in time for summer: Betaflight 4.2"
image: /content/images/betaflight-configurator-android.jpg
date: 2020-06-14T00:00:00+0000
author: mikeller
category:
  - Drone
  - drone
  - multirotor
description: "Just in time for summer for most of us, and in time for the end of COVID-19 related lockdowns in a lot of places, we are proud to announce the release of Betaflight 4.2.0!"

---

<p>Just in time for summer for most of us, and in time for the end of COVID-19 related lockdowns in a lot of places, we are proud to announce the release of Betaflight 4.2.0!</p>
<p>This is the third release of Betaflight after the switch to our new approach of how we support targets for different boards, and we have put effort into making support for these 'Unified Targets' easier and more seamless than before. We have also managed to convert most of the existing targets to use this new approach. This is enabling us to add support for new targets without additional effort for the developers, and as a result Betaflight is now supporting more different hardware than ever before (currently we are supporting 185 different flight controller models and counting).</p>
<p>As usual, our flight performance wizards have kept busy as well, and have added a bunch of improvements to how Betaflight flies. On top of that, they have improved the defaults, and made the firmware easier to tune than ever before.</p>
<p>One new feature that will be of interest to pilots still forced to stay inside is the new battery sag compensation: This feature results in a more consistent stick feel for the entire duration of the battery. The feedback that we are getting from many of our test pilots is that this is particularly useful for small indoor setups, like whoops or similar. Have a look at the <a href="https://github.com/betaflight/betaflight/wiki/4.2-Tuning-Notes">4.2 Tuning Notes</a> to find out how to set this up.</p>
<p>Last but not least, we have also reworked how the gyro loop works, and it now runs at a fixed speed that is identical to the native update speed for the model of gyro that is used. This has simplified the setup of loop speeds, and allowed us to add support for a number of new gyro models - hopefully we'll see manufacturers pick this up and start offering exciting new flight controllers with these new gyros.</p>
<p>For an extended list of new features see the <a href="https://github.com/betaflight/betaflight/releases/tag/4.2.0">release notes</a>.</p>
<p><i>Happy flying, enjoy summer<i></p>
