---
layout: article
title: Get Ready For Betaflight 4.1!
image: /content/images/configurator_10_6_0.png
date: 2019-10-14T00:00:00+0000
author: mikeller
category:
  - Drone
  - drone
  - multirotor
description: "We know we are overdue (again) for Betaflight 4.1, and we promise it’s not far off now. But there is something you can do right now to make sure you are prepared for Betaflight 4.1 when it comes: Grab a copy of Betaflight Configurator 10.6.0, and install it. This will get you all set to install the most current Betaflight firmware once it is released!"

---

<p>We know we are overdue (again) for Betaflight 4.1, and we promise it’s not far off now.</p>
<p>But there is something you can do right now to make sure you are prepared for Betaflight 4.1 when it comes: Head over to <a href="https://github.com/betaflight/betaflight-configurator/releases/tag/10.6.0">this page</a>, grab a copy of Betaflight Configurator 10.6.0, and install it. This will get you all set to install the most current Betaflight firmware once it is released!</p>
