---
layout: article
title: New requirements for the submission of new and updated targets
image: 
date: 2019-04-01T00:00:00+0000
author: mikeller
category:
  - Drone
  - drone
  - dshot
  - multirotor
  - protocol
description: As announced earlier, Betaflight 4.0 is introducing a radically new way to define targets, the so-called 'Unified Targets'.

---

<p>As announced earlier, Betaflight 4.0 is introducing a radically new way to define targets, the so-called 'Unified Targets'.</p>

<p>This new approach makes it possible to use the same firmware binary (the so called 'Unified Target firmware') for all boards that share the same MCU type (only supported on F4 and F7). Manufacturers will be able to add support for new boards by simply publishing a new configuration (the so called 'Unified Target configuration') for their new board. Users can then simply load the already published Unified Target firmware and the new Unified Target configuration onto their new board to get it to work.</p>

<p>Work to give users a simple way to flash unified targets in Betaflight configurator still needs to be done, so Betaflight 4.0 will be released with targets done in the 'legacy' way. But the plan is to add support for seamless use of Unified Targets into Betaflight configurator after Betaflight 4.0 has been released, and convert all of the existing F4 and F7 targets to the new format before the release of Betaflight 4.1.</p>

<p>In order to be prepared for this move, the following new requirements for pull requests adding new targets or modifying existing targets are put in place from now on:</p>

<ol class="number"><li>After the release of Betaflight 4.0.0, new F3 based targets can only be added into the 4.0.x-maintenance branch. This ties in with the release of firmware for F3 based targets ending after 4.0;</li></ol>
<p>All subsequent rules exclude F3 based targets:</p>

<ol><li>For any new target that is to be added, both a 'legacy' format target definition into src/main/target/ and a new Unified Target config into unified_targets/configs/ need to be submitted. See the instructions for how to create a Unified Target configuration;</li>

<li>For changes to existing targets, the change needs to be applied to both the 'legacy' format target definition in src/main/target/ and a new Unified Target config in unified_targets/configs/. If no Unified Target configuration for the target exists, a new Unified Target configuration will have to be created and submitted alongside the proposed change.</li>
</ol>