---
layout: article
title: Public Service Announcement - ArteryTek ATM32 WARNING
image: 
date: 2022-11-02T00:00:00+0000
author: blckmn
category:
  - Drone
  - drone
  - dshot
  - multirotor
  - protocol
description: WARNING The BetaFlight team has become aware of new flight controller hardware based on ArteryTek AT32 MCUs. These AT32 MCUs are similar but not identical to the popular STM32 range supported by BetaFlight.

---

<p>The BetaFlight team has become aware of new flight controller hardware based on ArteryTek AT32 MCUs. These AT32 MCUs are similar but not identical to the popular STM32 range supported by BetaFlight. BetaFlight has not been sent any AT32 products for testing and does not officially support AT32. Buyers are warned that these boards are untested and may behave unpredictably.</p>

<p>Vendors are asked to work with the Betaflight team to help provide the best experience to users and ensure that upgrades and new features are available for their products. Betaflight does not charge a fee for this service, but the team will need test samples sent to them to support products properly. Please reachout to the team on Discord to organise.</p>

<p>Happy flying all - and keep a look out for 4.4.0-RC1 :)!</p>
