---
layout: article
title: "Manufacturing samples wanted: Betaflight development and testing"
image: /content/images/samples-wanted.jpg
date: 2022-01-03T00:00:00+0000
author: blckmn
category:
  - Drone
  - drone
  - multirotor
description: "We are always looking out for samples from manufacturers for the team to be able to develop and test with. The more the merrier as it gives us much greater coverage."

---

<p>Are you a manufacturer and wondering how you can help the Betaflight team? Unless we have your product in our hands we will not be in the best position to be able to develop and test your product with our software.</p>

<p>
  Providing the Betaflight team with samples of your product will allow them to consider adding in, and importantly testing, any special features your particular hardware may have. 
  If you are willing to provide samples to the Betaflight team then you can do so by reaching out to us at samples(at)betaflight.com or hit us up on our <a href="https://betaflightgroup.slack.com">slack</a>! 
  We will then discuss your offer internally and send you a shipping address for the person (or persons) who would be most appropriate to either implement or test your feature.
</p>

<p>
  <b>IMPORTANT:</b> Sending samples will not guarantee our ability to accommodate any specific hardware variation, but it will go a long way to helping. 
  We will discuss with you prior to providing a shipping address if we feel the feature will not be achievable or inline with the direction of Betaflight.
</p>

<p><i>Thank you<i>, the Betaflight team</p>
