---
layout: article
title: We're almost there with Betaflight 4.2!
image: /content/images/f722-board.png
date: 2020-05-03T00:00:00+0000
author: mikeller
category:
  - Drone
  - drone
  - multirotor
description: "The first release candidate for Betaflight 4.2 is out, and there is also a release candidate for Betaflight Configurator to go with it. All we need to do is fix a few more bugs to make sure everything runs smoothly, and then Betaflight 4.2 will be ready for prime time."

---

<p>The first release candidate for Betaflight 4.2 is out, and there is also a release candidate for Betaflight Configurator to go with it. All we need to do is fix a few more bugs to make sure everything runs smoothly, and then Betaflight 4.2 will be ready for prime time.</p>
<p>If you want to help us with this, head over to the Betaflight Configurator <a href="https://github.com/betaflight/betaflight-configurator/releases">release page</a>, grab the latest Betaflight Configurator release candidate, and use it to install the latest Betaflight 4.2 release candidate onto a craft. Make sure to read the <a href="https://github.com/betaflight/betaflight/releases/tag/4.2.0-RC1">release notes</a> while the firmware is flashing, then head over to the <a href="https://github.com/betaflight/betaflight/wiki/4.2-Tuning-Notes">4.2 Tuning Notes</a> to get a run down of how to tune Betaflight 4.2. If you find any bugs or problems with Betaflight 4.2, use the <a href="https://github.com/betaflight/betaflight/issues">issue tracker</a> to check if it has already been reported, and if not, please open a new issue. Thanks for helping us make Betaflight 4.2 even better.</p>
