<section>
	<div class="align-center">
		<img src="/images/bf_logo.png" style="width: 75%" />
	</div>
</section>
<section>
	<header class="major">
		<h2>What is Betaflight?</h2>
	</header>
	
	<p>
		Betaflight is an open source firmware to power the flight controller of your multi-rotor or fixed-wing aircraft. With its broad support of hardware, it will enable the interaction of gyroscope, remote control, motor controllers and even a dedicated OSD.
	</p>
	<p>
		Developed by enthusiasts all over the world, betaflight is pushing the limits of what is possible in terms of flight characteristics aswell as hardware interaction. Now you can switch your VTX Channel using the Betaflight OSD or directly jump into your FPV Camera-Settings directly from your remote.
	</p>
	<p>
		As flight controllers are meant to be connected to your computer for configuration, the betaflight ecosystem features its configurator application and the blackbox explorer for deep analysis of your flight logs. Both applications are available for Windows, Mac OS and Linux.
	</p>
</section>
<section>
		<header class="major">
			<h2>Donate</h2>
		</header>
		<p>
			If you would like to support the development team, please consider donating here. Funds will be utilised for the creation and operation of the Betaflight Group - a not for profit that will be registered in the US.
		</p>
		<p>
			<a href="https://paypal.me/betaflight/0USD" target="_blank">Donate via PayPal</a> - thank you for your support.
		</p>
</section>