<header role="banner" id="fh5co-header">
  <div class="container">
    <nav class="navbar navbar-default">
      <div class="navbar-header">
          <!-- Mobile Toggle Menu Button -->
          <a href="#" class="js-fh5co-nav-toggle fh5co-nav-toggle" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar"><i></i></a>
          <a class="navbar-brand" href="index.html">
            <img src="{{ .Site.Params.logo.url }}" alt="{{.Site.Params.brand}}" style="height:{{.Site.Params.logo.height}}" class="align-top"/>          
          </a> 
      </div>
      <div id="navbar" class="navbar-collapse collapse">
        <ul class="nav navbar-nav navbar-right">
          {{ range .Site.Params.navigation }}
            {{ if .section }}
              <li><a href="#" data-nav-section="{{ .section }}"><span>{{ .label | markdownify }}</span></a></li>
            {{ end }}
            {{ if .url }}
              <li><a class="external" href="{{ .url }}" ><span>{{ .label | markdownify }}</span></a></li>
            {{ end }}
          {{ end }}
        </ul>
      </div>
    </nav>
  </div>
</header>
