/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

@import '@fontsource/inter/400.css';
@import '@fontsource/inter/500.css';
@import '@fontsource/inter/600.css';
@import '@fontsource/inter/700.css';

/* You can override the default Infima variables here. */
:root {
  --ifm-font-size-base: 100%;
  --ifm-font-family-base: 'Inter', 'Helvetica Neue', Arial, sans-serif;
  --ifm-heading-font-family: 'Inter', 'Helvetica Neue', Arial, sans-serif;
  --ifm-color-primary: #ffbb00;
  --ifm-color-primary-dark: #eea600;
  --ifm-color-primary-darker: #dd9100;
  --ifm-color-primary-darkest: #cc7e00;
  --ifm-color-primary-light: #ffc622;
  --ifm-color-primary-lighter: #ffd044;
  --ifm-color-primary-lightest: #ffda66;
  --ifm-code-font-size: 100%;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.1);

  --ifm-color-warning-contrast-background: #ffcc0030 !important;
  --ifm-color-warning-dark: #ffcc00 !important;

  --ifm-color-danger-contrast-background: #d6395b30 !important;
  --ifm-color-danger-dark: #d6395b !important;

  --ifm-color-info-contrast-background: #5ad8e630 !important;
  --ifm-color-info-dark: #5ad8e6 !important;

  --ifm-color-success-contrast-background: #87cc5230 !important;
  --ifm-color-success-dark: #87cc52 !important;

  --ifm-background-color: #fff !important;
}

body {
  font-family: var(--ifm-font-family-base);
}

p {
  margin-top: 0rem;
  margin-bottom: 1rem;
}

:root[data-theme='dark'] {
  --ifm-background-color: #18181b !important;
}

html {
  scroll-behavior: smooth;
}

[data-theme='light'] .invertable {
  @apply invert-0;
}

[data-theme='dark'] .invertable {
  @apply invert;
}

.img_sponsor {
  @apply p-[10px] max-h-[99px] max-w-[330px] inline mx-4;
}

#partner_overview .img_sponsor {
  @apply p-0 max-h-[60px] max-w-[200px] inline m-4;
}
