name: CI - Build only

on: 
  push:
    branches:
    - master

jobs:
  build:

    runs-on: ubuntu-latest

    strategy:
      matrix:
        node-version: [15.x]

    steps:
    - uses: actions/checkout@v2
    - name: Use Node.js ${{ matrix.node-version }}
      uses: actions/setup-node@v1
      with:
        node-version: ${{ matrix.node-version }}

    - if: github.ref == 'refs/heads/master' 
      name: Run the build script
      run: ./scripts/build.sh
      env:
        AWS_DISTRIBUTION_ID: ${{secrets.AWS_DISTRIBUTION_ID}}
        AWS_REGION: ${{secrets.AWS_REGION}}
        AWS_ACCESS_KEY_ID: ${{secrets.AWS_ACCESS_KEY_ID}}
        AWS_SECRET_ACCESS_KEY: ${{secrets.AWS_SECRET_ACCESS_KEY}}
